{% extends "components/webpage.html" %}
{% load static %}

{% block specific_headers %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock specific_headers %}

{% block specific_body %}
    <div class="cover-container p-3">
        <main role="main" class="inner cover">
            <h1 style="font-size: 8vw;">Smart Budgeting</h1>
            <p class="lead" id="indexText">The application that will save your budget.</p>
            <p class="lead" id="indexText">Don't know where to start? We got you covered!</p>
            <p class="lead">
                <a href="/learn/smart_budgeting" class="btn btn-lg btn-registerButton">Learn more</a>
            </p>
        </main>
    </div>
{% endblock specific_body %}