{% extends "components/base/modal.html" %}

{% block modal_header %}
    <div style="position: absolute; right: 3px;">
        <button type="button" class="btn mainBtn edit" id="editShow" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
        </button>
        <button type="button" class="btn mainBtn edit" id="editClose" style="display: none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
        </button>
    </div>
{% endblock modal_header %}

{% block modal_content %}
    <form method="post" action="{{ actionURL }}">
        {% csrf_token %}

        <input type="hidden" name="_method" value="POST" />
        <div class="modal-body" style="text-align: left !important;">
            <input type="hidden" value="" id="updateId" name="updateId">
            <label for="type" class="form-label">Type of {{ financeType }}</label>
            <div style="max-height:20%; min-height: 10%">
                <select class="form-select infoDisplay" id="typeShow" name="typeShow" disabled>
                    {% for key in sources %}
                        <option>{{ key }}</option>
                    {% endfor %}
                </select>
            </div>

            <label class="form-label">Amount</label>
            <input class="form-control infoDisplay" type="text" onkeypress="return isNumber(event)"
                id="amountShow" name="amountShow" value="" required disabled/>

            <label for="currency" class="form-label">Currency</label>
            <select class="form-select infoDisplay" id="currencyShow" name="currencyShow" disabled>
                {% for key in currencies %}
                    <option>{{ key }}</option> 
                {% endfor %}
            </select>

            <label class="form-label">Periodicity of {{ financeType }}</label>
            <select class="form-select infoDisplay" id="periodicalShow" name="periodicalShow" disabled>
                {% for key in periodicities %}
                    <option>{{ key }}</option> 
                {% endfor %}
            </select>

            {% if isAdded %}
                <label class="form-label">{{ financeType }} added on:</label>
            {% else %}
                <label class="form-label">{{ financeType }} next due on:</label>
            {% endif %}
            <div id="datepicker_{{ modalId }}" class="input-group date" data-date-format="yyyy-mm-dd">
                <input class="form-control infoDisplay" type="text" id="dateShow" name="dateShow" readonly disabled /> 
                <span class="input-group-addon" style="width: 25px; padding: 4px"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                </span> 
            </div> 
        </div>

        <script> 
            $(function () { 
                $("#datepicker_{{ modalId }}").datepicker({  
                    autoclose: true,  
                }).datepicker('update', new Date()); 
            });
        </script> 

        <div class="modal-footer">
            <button type="button" class="btn btn-danger deleteToggler infoDisplay" id="deleteText" disabled>Delete</button>
            <button type="submit" id="updateButton" class="btn btn-primary infoDisplay" disabled>Save</button>
            <a class="btn btn-secondary" aria-current="page" href="{{ returnURL }}"> Close </a>

            <div class="deleteText" style="display: none; padding: none; text-align: center;">
                <i>Are you sure you want to delete this {{ financeType }}?</i>
                <button type="submit" name="delete" id="deleteButton" class="btn btn-outline-dark"><i>Yes</i></button>
                <button type="button" class="btn btn-outline-dark deleteToggler"><i>No</i></button>
            </div>
        </div>
    </form>
{% endblock modal_content %}